/*
 *
 */
body{
  overflow:hidden;
}
.game-board{
  background-color:black;
  padding:10px;
}
.board-file{
  background-color:blue;
  height:100%;
  width:50px;
  margin:auto;
  position:relative;
  display: inline-block;
}
.board-rank{
  width:100%;
  height:50px;
  background-color:green;
  border-style:solid;
  border-color:black;
  border-width:3px;
  box-sizing:border-box;
}
