.board-container {
    width: 100vw;
    height: 100vw;
    bottom: 10%;
    position: absolute;
}

@media (min-width: 800px) and (orientation:landscape) {
    .board-container {
        width: 90vh;
        height: 90vh;
        left: 5vh;
        top: 5vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


