.score-picture {
    width: 25%;
    background-color: red;
    float: left;
    height: 100%;
}

.score-points {
    width: 25%;
    background-color: blue;
    float: left;
    height: 100%;
}

.score-name {
    width: 50%;
    background-color: green;
    float: left;
    height: 100%;
}

.score-row {
    height: 85%; 
}

.score-names {
    height: 15%;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#score-player1-picture, #score-player1-points, #score-player1-name {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#score-player2-picture, #score-player2-points, #score-player2-name {
    animation: 1s ease-out 0s 1 slideInFromRight;
}
