.score-picture {
    width: 25%;
    background-color: red;
    float: left;
    height: 100%;
}

.score-points {
    width: 25%;
    background-color: blue;
    float: left;
    height: 100%;
}

.score-name {
    width: 50%;
    background-color: green;
    float: left;
    height: 100%;
}

.score-row {
    height: 100px; 
}

.score-names {
    height: 20px;
}