.scene {
    perspective: 600px;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.tile {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.tile-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-size: 100% 100% !important;
}

.tile-face-front {
    @extend .tile-face;
    background: red;
}
  
.tile-face-back {
    @extend .tile-face;
    background: blue;
    transform: rotateY( 180deg );
}

.tile.is-flipped {
    transform: rotateY(180deg);
}

@keyframes push {
    from {
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        transform: scale3d(.90, .90, .90);
    }
    
    to {
        transform: scale3d(1, 1, 1);
    }
}

.tile.push {
    animation-name: push;
    transform-origin: center;
    animation-duration: .35s;
}
