.board-row {
    position: relative;
    display: table-row;
}

board {
    display: table;
    table-layout: fixed;
}

tile {
    display: table-cell;
    position: relative;
}

.board-row::after {
    content:"";
}